.video-wrapper {
    /* border: 1px solid black; */
    width: 15rem;
    min-height: fit-content;
    margin: 10px;
}

.video-wrapper :hover {
    cursor: pointer;
}

.thumbnail>img {
    width: 240px;
    height: 140px;
}

.yt-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 12px 12px 0 0;
}


.video-title {
    margin: 12px 0 4px 0;
    width: 100%;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;

}

.yt-name {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #606060;

}

.video-details {
    display: flex;
    flex-direction: row;
}

.yt-views {
    margin-right: 5px;

}

.yt-counts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #606060;

}